minimumReleaseAge: 1440

minimumReleaseAgeExclude:
  - baseline-browser-mapping
  - enhanced-resolve
  - lru-cache
  - nitro-nightly
  - pg
  - pg-cloudflare
  - pg-connection-string
  - pg-pool
  - pg-protocol
  - prosemirror-model
  - tsx
